 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
		xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<body>
 
 	<div layout:fragment="footer">
 	
 	 	 
	 		<footer class="footer" >
			 	
			      <div class="container">
			     	 <hr/>
			        <p class="pull-right"><a href="#">Ir ao topo</a></p>
			        <p>Powered by <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>, 
			        <a href="http://www.thymeleaf.org/" target="_blank">Thymeleaf</a>, 
			        <a href="http://www.springsource.org/" target="_blank">Spring framework</a> 
			         </p>
			         
			      </div>
		    </footer>
 		 
	</div>
</body>
</html>